$white-color: #ffffff;
$white-color-transparent-60: rgba(255, 255, 255, 0.6);
$white-color-transparent-10: rgba(255, 255, 255, 0.1);
$ghost-white-color: #f5f4fa;
$grey-color: #757575;
$dark-grey-color: #afb1b8;
$whisper-color: #ececec;
$dodger-blue-color: #2196f3;
$nero-color: #212121;
$black-rock-color: #2f303a;
$black-color: #000000;
$btn-active-color: #188ce8;
